server {
    listen 80;
    server_name localhost;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass https://api.openai.com/;
        proxy_set_header Authorization "Bearer ${OPENAI_SECRET_KEY}";
        proxy_set_header Content-Type "application/json";
        proxy_ssl_server_name on;
        proxy_set_header Host api.openai.com;
    }
}
